<section class="col-sm-12">
	<h1>Collaborate</h1>
	
	<% if !user_signed_in? %>
		<a href="signin" class="btn btn-primary">Sign In</a>
		<a href="signup" class="btn btn-primary">Sign Up</a>
	<% else %>
		<div class="row">

			<div class="new-item-form col-xs-12 col-sm-6 col-md-4">
				<h3>Share a link</h3>
				<div class="form-group">
					<input type="text" name="url" placeholder="URL" class="form-control">
				</div>
				<div class="form-group">
					<input type="text" name="description" placeholder="Description" class="form-control">
				</div>
				<button class="btn btn-primary" data-action="new-item"><i class="fa fa-share"></i> Share</button>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8">
				<div class="items">
					
				</div>
			</div>
		</div>
	<% end %>
</section>