<header class="pull-left">
	<a href="{{url}}">{{url}}</a>
</header>
<div class="body pull-left">
	{{description}}
</div>
<div class="actions pull-right">
	<a class="btn btn-warning" data-action="fave-item"><i class="fa fa-heart"></i></a>
	<a href="#items/{{id}}"class="btn btn-danger" data-action="destroy-item"><i class="fa fa-times"></i></a>
</div>
